/**Global**/
html{
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
.container-fluid a{
  text-decoration: none;  
}
.container-fluid{
  background-color: #f0e4da;
  padding-top: 25px; 
}

@media (min-width:320px){
  .container-fluid{
  padding-left: 40px;
  padding-right: 40px;
  }
}
/**Global**/

/**Start Navbar**/
.navbar {
  margin-bottom: 0;
  border: 0;
}
#navbar .navbar-nav li a, #navbar .navbar-header a{
  font-size: 1.15em;
  font-family: "Georgia", serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #303030; 
}
#navbar .navbar-nav li a:hover, #navbar .navbar-header a:hover {
color: #0000ff;
}
/**End Navbar**/

/**Start Blog**/
#blog {
    min-height: 450px;
}
.section-header {
    font-family: 'Vollkorn', serif;
    font-size: 3.5em;
    font-weight: bold;
    text-align: left;
    position: relative;
    padding-bottom: 30px;
    color: red;
}
#blog p{
  font-family: 'Trocchi', serif;
  font-size: 1.2em;
  text-align: left;  
}
/**End Blog**/

/**Start Footer**/
#footer .container-fluid{
  text-align: center;
  font-size: 1.0em;
  background-color:#fae7d9; 
  padding: 15px;
  font-family: 'Trocchi', serif;
}
#footer .container-fluid a{
  color: #0000ff;
}
/**End Footer**/