@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@450;700&display=swap');
/**Start Head**/
head {
  display: none;
}
meta {
    display: none;
}
title {
    display: none;
}
link {
    display: none;
}
meta {
    display: none;
}
script {
    display: none;
}
/**End Head**/

/**Global**/
a{
  text-decoration: none;	
}
/**Global**/
/**Start Body**/
html, body {
  -webkit-text-size-adjust: 100%;
  background-color: #eae7dc;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: .92em;
  line-height: 1.3em;
  font-family: "PT Mono",monospace;
  scroll-behavior: smooth;
}
body {
    text-align: center;
    display: block;
}
/**End Body**/


/**Start Navbar**/
nav {
	  position: sticky;
    width: 100%;
    z-index: 99999;
}
nav #nav-items {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
    padding-top: 25px;

}
nav #home {
    float: left;
}
nav .nav-item {
    margin: 0;
    padding: 15px;
    float: right;
}
nav .nav-item a {
    color: #000000;
    font-weight: normal;
    font-size: 1.2em;
    font-family: "Georgia", serif;
    text-transform: uppercase;
    font-weight: bold;
	  color: #303030;
}
nav .nav-item a:hover {
  color: #0000ff;
}

@media screen and (max-width: 600px) {
  nav .nav-item a {
    font-size: 0.82em;
  }
  nav .nav-item{
  	padding: 3.5px;
  }
  nav #nav-items{
    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/**End Navbar**/

/**Start Hero**/
#hero {
    min-height: 400px;
    width: 100%;
    position: relative;
}
* {
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}
.left {
  width: 55%;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.3em;
  padding-left: 38px;
  padding-right: 35px;
  margin-top: 40px;
}
.left p{
  margin-bottom: 35px;
}
@media screen and (max-width: 600px) {
  .left p{
  	text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .left .social a{
    text-align: justify;
  }
  .left{
    padding-left: 28px;
    padding-right: 25px;
  }
}
.right {
  width: 45%;
  float: right;
  padding-left: 35px;
  padding-right: 30px; 
}
.left .social a {
  color: red;
  font-family: "Vollkorn", serif;
}
.left .social a:hover {
  color: #0000ff;
  font-family: "Vollkorn", serif;
}
.left ul a:hover {
  color: #0000ff;
}
.left ul a{
  color: #808080;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#img-container{
    overflow: hidden;
}
#img-container img {
    max-width: 100%;
    object-fit: contain;
}
/**End Hero**/

/**Start Experiences**/
#experiences {
    height: auto;
    min-height: 400px;
    width: 100%;
    padding-left: 38px;
    padding-right: 38px;
    margin-top: 15.5px;
}
@media only screen and (max-width: 813px)
#experiences .section-header {
    text-align: center;
}
.section-header {
    font-family: 'Vollkorn', serif;
    font-size: 3.5em;
    font-weight: bold;
    text-align: left;
    position: relative;
    padding-bottom: 30px;
    color: red;
}
@media only screen and (max-width: 813px)
#experiences .container {
    width: 100%;
}
#experiences .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 38px;
    padding-right: 38px;
}
.tab {  
  margin-left: 220px;
  text-align: right;  
}
.tb {  
  margin-left: 300px;
  text-align: right;  
}
@media screen and (max-width: 600px) {
  .container {
    padding-left: 28px;
    padding-right: 28px
  }
  .tab {  
    margin-left: 15px;
    text-align: right;  
  }
  .tb {  
    margin-left: 15px;
    text-align: right;  
  } 
}
#experiences .exp{
    text-align: left;
    font-size: 1.25em;
    line-height: 1.2em;
    font-family: "Georgia",serif;
}
/**End Experiences**/

/**Start Projects**/
#projects {
    min-height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
}
#projects .container {
    max-width: 100%;
}
#projects .project {
    text-align: center;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
    width: 325px;
    height: 325px;
    position: relative;
    display: inline-block;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    border: 0.5px solid #edc7b7;
}
@media screen and (max-device-width: 480px) {
  #projects .project {
    border: 0px;
  }
}
#projects .description {
    position: absolute;
    padding: 40px;
}
#projects .project-name {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: "Georgia",serif;
    text-transform: uppercase;
}
#projects .project a:visited {
  color:  #000000;
  font-family: "Georgia",serif;
}
#projects .project a:hover {
  color: #0000ff;
}
#projects .project-summary {
    height: 150px;
    font-size: 1.25em;
    line-height: 1.3em;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: "Vollkorn",serif;
}
.heart{
  color: red;
}
.pink{
	font-weight: bold;
}
/**End Projects**/

/**Start Footer**/
#footer {
    width: 100%;
    position: static;
    bottom: 0;
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 999;
    font-size: 1.1em;
    background-color:#eee2dc; 
}
#footer a{
  color: #0000ff;
  }
/**End Footer**/